{{description}}.
<comment>Examples:</comment>
    property:int,property2:entities/comment
    property@flag
    property=default
<comment>Flags:</comment>
    @prom - generate promoted property (@!prom don't generate) <comment>[{{promoted}}]</comment>
    @cs - generate property in constructor (@!cs don't generate) <comment>[{{cs}}]</comment>
    @get - generate getter (@!get don't generate) <comment>[{{get}}]</comment>
    @set - generate setter (@!set don't generate) <comment>[{{set}}]</comment>
    {{flags}}
